body {
    background-color: #201e1e;
    overflow-x: hidden; /* impede a rolagem horizontal */
  }


.cobertura {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 39px; /* ajuste a altura conforme necessário */
    background-color: #201e1e; /* cor de fundo da div */
    display: flex;
  align-items: center;
  color: white;
  font-size: 14px; 
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Press Start 2P', cursive;
  font-family: 'Roboto Condensed', sans-serif;
  }
.cobertura span.the{padding-left: 230px;}
.cobertura span.best{padding-left: 5px;}
.cobertura span.ever{padding-left: 5px;}

  .cobertura {
    color: rgb(133, 131, 131);
  }
  
  .cobertura span.best {
    color: white;
  }
  
  .cobertura span.ever {
    color: rgb(133, 131, 131);
  }

  .cobertura span.direitos {
  padding-left: 550px;
}
.imagem-fundo {
    position:absolute;
    top: 37px; /* altura da div cobertura */
    left: 0;
    width: 100%;
    height: calc(100vh - 15px); /* altura do viewport menos a altura da div cobertura */
    background-image: url('fundo.jpeg');
    filter: blur(0px);
    background-size: cover;
    background-position: top left;
    opacity: 0.7;
    transition: filter 0.3s ease;
}
.imagem-fundo:hover{
  filter: blur(5px);
}
    
  .navbar {
    position: absolute;
    top: 95px; /* altura da div pequena */
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    opacity: 100%;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding-left:130px;
  }
  
  .navbar li {
    margin-right: 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    padding-left: 25PX;
  }

  .navbar-right {
    position: absolute;
    top: 95px; /* altura da div pequena */
    right: 0;
    padding: 10px;
    padding-right: 40PX;
    background-color: transparent;
    opacity: 100%;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20PX;
  }
  
  .navbar-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-right li {
    margin-left: 20px; /* Utilizei 'margin-left' em vez de 'margin-right' para posicionar à direita */
  }
  
  .navbar-right a {
    text-decoration: none;
    color: white;
    padding-left: 25PX;
  }

  .test a{
    text-decoration: none;
  color: white;
  padding: 5px 10px; /* Ajuste o preenchimento interno conforme necessário */
  border-radius: 5px; /* Adiciona*/ 
  position: relative;
  background-position: 0% -100%; /* Altera a posição do gradiente para revelar a cor de baixo para cima */

  }
  .test li a {
    text-decoration: none;
  }
  

  
  .navbar-right a.sing {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    position: relative;
  }

 
 
  .test a:hover{
     color:  rgba(19, 19, 19, 0.849);
     background: linear-gradient(to top, transparent 50%, white 50%); /* Fundo gradiente */
     background-size: 100% 200%; /* Define a altura do gradiente */
     transition: background-position 0.5s ease; /* Transição do background-position */
  }
  .companyname{
    position: absolute;
    top: 10%; /* Posiciona o elemento no meio verticalmente */
    left: 49%; /* Posiciona o elemento no meio horizontalmente */
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    background-image: url('Avião4.png');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 58px; /* Espaçamento abaixo da imagem */
 
  }
  .Business{
    position: absolute;
    top: 60%; /* Posiciona o elemento no meio verticalmente */
    left: 81%; /* Posiciona o elemento no meio horizontalmente */
    color: white;
    font-size: 
    40px;
    font-weight: bold;
    font-family: 'IBM Plex Mono', monospace;
    text-align: right;
  }

  .ares{position: absolute;
    top: 80%; /* Posiciona o elemento no meio verticalmente */
    left: 77%; /* Posiciona o elemento no meio horizontalmente */
    color: white;
    font-size: 
    20px;
    font-weight: bold;
    font-family: 'IBM Plex Mono', monospace;
    text-align: left;}
.button{
  text-decoration: none;
}
    .button span a{
      position: absolute;
      top: 90%; /* Posiciona o elemento no meio verticalmente */
      left: 86%;
      color: #201e1e;
      font-size: 
      24px;
      font-weight: bold;
      font-family: 'IBM Plex Mono', monospace;
      border: 3px solid white;
      border-radius: 5PX;
    background-color: white;
    padding: 5px 10px;
     text-decoration: none;
}

  .full-width-div {
    top:664px;  
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    height: 300px; /* Ajuste a altura conforme necessário */
    background-color: #201e1e; /* Altere a cor de fundo conforme necessário */
  }

  .text-box {
    position: relative;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    align-items: center;
    padding: 10px;
    font-family: 'Rajdhani', sans-serif;
    height: 340px;
    top: -15px;
  }
  .temperatura{
position: absolute;
top: 50%; /* Posiciona o elemento no meio verticalmente */
    left: 49%; /* Posiciona o elemento no meio horizontalmente */
color: white;
font-family: 'Rajdhani', sans-serif;
font-size: 30px;
  }
  
  .location{   font-family: 'Rajdhani', sans-serif;}

  #carouselExampleIndicators {
    position: absolute;
    top:346px;
    left: -240px;
    width: 900px;
    margin: 0 auto;
  }
  

.fade-in {
  position: absolute;
  left: -600px;
  top: 400px;
}
.carousel-item img {
  height: 483px; /* Defina a altura desejada para as imagens */
  width: auto; /* A largura será ajustada automaticamente para manter a proporção */    
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Press Start 2P', cursive;
  font-family: 'Roboto Condensed', sans-serif;
}
.partners {
  display: flex;
  position: absolute;
  align-items: center; /* Alinhar os logos verticalmente */
  left: -600px;
  top: 650px;

}

.partners img {
  max-width: 100px; /* Definir a largura máxima dos logos */
  margin: 0 10px; /* Adicionar margem entre os logos */
}
.partners img {
  max-width: 100px;
  margin: 0 10px;
  filter: brightness(40%); /* Definir brilho inicial */
  transition: filter 0.3s ease-in-out; /* Adicionar uma transição suave */
}

.partners img:hover {
  filter: brightness(150%); /* Definir brilho ao passar o mouse */
}
.map {
  top:1300px;
  position: absolute;
  width: 600px;
}

.map img {
  width: 30%;
  transition: transform 0.3s ease;
}

.map img:hover {
  transform: scale(2.0);
}

.map .marker {
  position: absolute;
  display: inline-block;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease;
}

.map .marker:hover {
  background-color: blue;
}
#city1 {
  top: 40%;
  left: 30%;
}

#city2 {
  top: 60%;
  left: 45%;
}

